.hader-title {
  padding-top: 0px;
}

html {
  font-family: "Roboto", sans-serif !important;
}

.baner__mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-top: 20px;
  padding-left: 4px;
  margin-right: 0;
}

.search_btn {
  width: 30px;
  background-color: #9e0b0f;
}

.topnav {
  vertical-align: top;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__container {
  position: relative;
}

body {
  background-color: rgba(180, 180, 180, 0.23);
  font-family: "Roboto", sans-serif !important;
}

body img {
  max-width: 100%;
  display: block;
}

/* .date {
    display: none; } */
.cmt-buttons {
  display: none;
}

.special,
.correction,
.warranty-b,
.warranty-s {
  background-color: white;
}

p {
  font-size: 17.2px;
  line-height: 25px;
  font-weight: normal;
}

.green {
  color: #498735;
}

.blue {
  color: #287bd7;
}

.red {
  color: #e05151;
}

.quote {
  font-size: 12px;
}

.container {
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1075px;
  position: relative;
}

.heading {
  max-width: 960px;
}

.wrapper {
  border-right: 4px solid #eeeeee;
  border-left: 4px solid #eeeeee;
  background-color: white;
}

.wrapper h1 {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 25px;
  margin-top: 29px;
  line-height: 42px;
}

.wrapper h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 29px;
  margin-top: 29px;
  line-height: normal;
}

.wrapper h3 {
  font-weight: 600;
  font-size: 22px;
}

.wrapper .box {
  background-color: rgba(255, 153, 204, 0.23);
  border: 1px solid #cc6699;
  padding: 5px;
  margin-bottom: 10px;
}

.wrapper .pink {
  color: #cc6699;
}

.wrapper .point {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper .product {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.wrapper table,
.wrapper th {
  border: 1px solid grey;
  background-color: #ebfafa;
  padding: 7px;
  color: black;
  font-weight: normal;
  font-size: 14.5px;
}

.wrapper .product__compare {
  color: black;
  padding: 5px;
}

.wrapper .blue_row {
  background-color: #bd5858;
}

.wrapper .comment {
  padding: 10px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  margin-right: 10px;
}

.wrapper .comment1 {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  float: left;
  margin: 0px auto;
  padding-top: 7px;
}

.wrapper .section__right {
  width: 268px;
  margin: 0px auto;
}

.wrapper .weatherwidget-io {
  width: 300px;
  border: 2px solid #ebebeb;
  margin-left: 18px;
  margin-bottom: 60px;
}

.wrapper .likes {
  display: none;
}

.wrapper .like {
  width: 70%;
  float: right;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper .guarantee {
  background: url(../bg.html);
  text-align: center;
  border: 54px solid transparent;
  -o-border-image: url(../border-2.html) 29% round;
  border-image: url(../border-2.html) 29% round;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 20px auto;
}

.wrapper .guarantee p {
  margin: 0 auto;
}

.wrapper .guarantee .cus-badge {
  height: 100px;
  width: 100px;
  display: block;
}

.wrapper .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: center;
  margin: 0px;
  border-bottom: 2px solid #b8b8b8;
}

.wrapper .nav__bar li {
  list-style: none !important;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 17px 10px 17px !important;
  cursor: pointer;
  color: black;
  line-height: 18px;
  -webkit-box-pack: center;
  font-weight: 400;
}

.wrapper ul {
  padding-left: 0px;
  margin-top: 20px;
}

.wrapper ul li {
  list-style: none;
}

.wrapper ul li h4 {
  font-size: 20px;
  font-weight: 700;
}

.wrapper ul li p {
  padding-bottom: 15px;
}

.wrapper ol {
  background-color: #e7e7e7;
  border: 2px solid #d1d1d1;
  padding: 20px;
  border-radius: 15px;
  padding-left: 50px;
}

.wrapper ol li {
  margin: 10px 0px;
}

.wrapper .days li {
  margin: 6px 0px;
}

.wrapper .button:hover {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  background-position: right center;
}

.wrapper a:hover {
  text-decoration: none;
}

.wrapper footer p {
  font-size: 14px;
}

#exitpopup-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

#exitpopup-modal div.container-fluid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#exitpopup-modal div.container-fluid .popup {
  background-color: white;
  width: 750px;
  max-width: 100%;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#exitpopup-modal div.container-fluid .popup .title {
  font-size: 77px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #ff99cc;
  color: #cc6699;
}

#exitpopup-modal div.container-fluid .popup .smaller {
  font-size: 27px;
}

#exitpopup-modal div.container-fluid .popup .smaller span {
  color: #cc6699;
}

#exitpopup-modal div.container-fluid .popup .bigger {
  font-size: 22px;
}

#exitpopup-modal div.container-fluid .popup .bigger .red {
  color: red;
}

#exitpopup-modal div.container-fluid .popup button {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

#exitpopup-modal div.container-fluid .popup .actions__cancel:hover {
  cursor: pointer;
}

@media (max-width: 720px) {
  .hader-title {
    padding-top: 30px;
  }
  .wrapper .nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    margin: 0px;
    border-bottom: 2px solid #b8b8b8;
  }
  .wrapper .nav__bar:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: center;
    margin: 0px;
    border-bottom: 2px solid #b8b8b8;
  }
  li .nav_li:hover {
    background-color: #d1cfd0;
  }
  .topnav {
    vertical-align: top;
    margin-bottom: 70px;
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .baner__mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin-top: 20px;
    padding-left: 4px;
    margin-right: 0;
  }
  .sign {
    margin: 15px auto 0 auto !important;
    width: 40%;
    float: none;
  }
  .point {
    background: white;
  }
  .point .guarantee {
    width: 100%;
    padding: 15px 5px 5px 5px;
  }
  .point .guarantee p {
    width: 100%;
  }
  .point h1 {
    font-size: 28px;
  }
  .point h2 {
    font-size: 18px;
  }
  .point h3 {
    font-size: 21px;
  }
  .point .button {
    width: 80%;
  }
  .point #exitpopup-modal {
    display: none !important;
  }
}

@media (min-width: 720px) {
  .sign {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 44px;
    width: 40%;
    float: right;
  }
  h3 {
    font-size: 21px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 33px;
  }
  .button {
    width: 50%;
  }
  .guarantee {
    width: 80%;
    padding: 15px 5px 100px 5px;
  }
  .guarantee p {
    width: 80%;
  }
}

.cmt-section {
  background-color: #ecf0f1;
  width: 100%;
}

.cmt-section1 {
  background-color: #feffff;
  width: 100%;
}

.cmt-img {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* max-width: 60px !important; */
  float: left;
  margin-right: 10px;
  background-color: lightblue;
  overflow: hidden;
  max-width: 60px !important;
  max-height: 60px !important;
}

.cmt-imgi {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 60px !important;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}

.btn-order {
  width: 70%;
  border-radius: 10px;
}

.main__button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 24px;
  font-weight: 700;
  background-color: #009dff !important;
  color: white;
  text-transform: uppercase;
}

.head__button {
  margin-left: 33%;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #009dff !important;
  border-radius: 10px;
}

.btn-buy {
  width: 70%;
}

.fb-like {
  margin-left: 32%;
}

.baner_aside {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  padding-top: 30px;
}

.other {
  background-color: #7dbffd;
  margin-top: 5px;
  margin-left: 10px;
  padding: 12px;
}

.zamol {
  color: #0006ff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.commenterName {
  cursor: pointer;
}
.weatherwidget-io {
  width: 40%;
}

.results {
  max-width: 100%;
  display: flex;
}

.results img {
  width: 50%;
}

.figcaption {
  text-align: center;
  font-size: 16px;
  max-width: 85%;
  margin: 5px auto 10px;
}

.comment-photo {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}

.footer {
  text-align: center;
  padding-bottom: 30px;
}

.footer a {
  display: block;
  text-decoration: none;
}

.footer .red-button a {
  color: #fff;
  padding: 8px 15px;
  background: #e31e1e;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto 10px;
}

.footer .red-button a:hover {
  background: #8d1818;
}

.footer .year a {
  color: black;
  font-size: 18px;
}

/* form */

.lead-form-box {
  box-sizing: border-box !important;
  background: white;
  border-bottom: 1px solid #dacec6;
  padding: 20px 40px;
  max-width: 650px;
  font-family: Arial;
  background-image: url(../images/formbg.jpg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: 100% 100%;
  box-shadow: 0 4px 15px 0 rgb(129 150 160 / 15%);
  margin: 0 auto 30px;
}

.lead-form-box img {
  display: table;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
}

.lead-form-box h2 {
  margin: 20px auto !important;
  padding: 0px !important;
  line-height: 32px !important;
  color: #000 !important;
  border: none;
}

.fields-box {
  margin: auto;
  max-width: 320px;
  width: 100%;
}

.fields-box > div {
  margin-bottom: 10px;
}

.blue-border {
  margin: 20px 10px 20px 10px;
  border: 2px solid #0299ff;
  padding: 10px; 
}

#lead-form input, #lead-form select {
  box-sizing: border-box !important;
  width: 100% !important;
  height: 55px;
  line-height: 55px;
  margin: 0 !important;
  border-radius: 5px !important;
  font-size: 17px !important;
  background: #fff !important;
  padding: 0 15px !important;
  border: 2px solid #e9d7dc;
  font-weight: normal !important;
}

#send-lead {
  width: 100%;
  padding: 15px;
  background: #0299ff;
  text-shadow: 1px 3px 3px rgb(0 0 0 / 10%);
  box-shadow: 0 4px 25px 0 rgb(129 150 160 / 45%);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: bold !important;
  text-transform: uppercase;
  margin: 20px auto;
  cursor: pointer;
}

@media(max-width:500px) {
  .lead-form-box {
      padding: 20px;
  }

  .lead-form-box h2 {
      margin: 10px auto !important;
  }
}

/* comment */

.comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  /* padding: 11px; */
  background: #ffffff;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

.comment-item p {
  margin-bottom: 0 !important;
}

.comment-item span {
  color: #263676;
  font-weight: bold;
  font-size: 17px;
}

.comment-item p {
  font-size: 15px;
  line-height: normal;
}

.comment-item .avatar {
  width: 100%;
  max-width: 60px;
  min-width: 60px;
  margin-right: 10px;
}

.comment-item .avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.cmt-title p {
  font-size: 17px;
  line-height: normal;
}